@model BookStore.Web.Models.Admin.UsersManagementViewModel

@{
    ViewData["Title"] = "Admin Page";
}

<partial name="_AdminTabs.cshtml" model="@Model.AdminTabsViewModel" />

@* <ul class="nav nav-pills nav-stacked mt-3 hidden">
    <li class="nav-item">
        <button type="button" class="btn btn-primary">Button</button>
    </li>
</ul> *@

<table class="table mt-3">
    <thead>
        <tr>
            <th>User</th>
            <th>Email</th>
            <th>Role</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td scope="row">@user.UserName</td>
                <td>@user.Email</td>
                <td>@string.Join(", ", user.Roles)</td>               
                <td>
                    <a asp-controller="Admin" asp-action="EditUser" asp-route-id="@user.Id" class="btn btn-primary" role="button">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('.user-roles').multiselect();
        });
    </script>
}